*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
:root{
    --font-heeading: "Sen", sans-serif;
    --primary-color: #ffb900;
}
 /* =================common================== */
a{
    text-decoration: none;
}
.heading-lv2{
    font-family: var(--font-heeading);
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26;
    letter-spacing: -0.02em;

}
.btn {
    display: inline-block;
    color:  #FFFFFF;
    min-width: 118px;
    padding:0 16px;   
    line-height: 50px;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    border-radius: 999px;
    background: #171100;
}
.btn:hover{
    opacity: 0.9;
    cursor: pointer;
}
.main-content{
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}
/* hien thi dau ... */
.line-clamp{ 
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp,1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.line-clamp.line-2{
    --line-clamp: 2;
}
.break-all{
    word-break: break-all;
}
  /* =================header================== */
.header .body{
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}
.header{
    background-color: beige;
}
.header.fixed{
    z-index: 1;
    position: sticky;
    top: -28px;
}
.nav ul{
    display: flex;
}
.nav{
    margin-left: auto;
}
.nav a{
font-size: 1.6rem;
color: #5F5B53;
position: relative;
padding: 8px 21px;
}
.nav li.active a,
.nav a:hover{
color:#171100;
text-shadow: 1px 0px 0px currentColor;
}
.nav li.active a::before{
    position: absolute; 
    display:inline-block;
    left: 21px;
    bottom: 6px;
    content: "";
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}

.header .btn-Sign-Up{
    min-width: 144px;
}
.header .action{
    margin-left: 49px;
}
/* =================hero================== */

.hero{
    padding: 56px 0 65px;
    background-color: beige;
}
.hero .body{
    display: flex;
}
.hero .media-block{
    width: 48%;
    position: relative;

}
/* hero left */
.hero .media-block .img{
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}
.hero .hero-summary{
    padding: 24px;
    width: 270px;
    position: absolute;
    bottom: 48px;
    right: 0;
    border-radius: 20px;
    background-color: #FFFFFF;
}
.hero-summary .item{
    display: flex;
    align-items: center;
}
.hero-summary .item + .item{
    margin-top: 22px;
}
.hero-summary .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    background: #FFF9E8;
    align-items: center;
}
.hero-summary .icon2{
    background: #FCEFFF;

}
.hero-summary .icon3{
    background: #EBEAFF;

}
.hero-summary .info{
    margin-left: 16px;   
}
.hero-summary .label{
color: #5F5B53;
font-size: 1.4rem;
line-height: 1.86;

}
.hero-summary .title{
font-size: 1.8rem;
font-weight: 600;
line-height: 1.67;
color: #171100;
}
/* hero right */
.hero .content-block{
    width: 52%;
    padding-left: 130px;
    padding-top:  64px;
}
.hero .heading{
font-family: var(--font-heeading);
font-size: 5.8rem;
font-weight: 700;
line-height: 1.17;
letter-spacing: -0.02em;
text-align: left;

}
.hero .desc{
font-size: 1.8rem;
font-weight: 400;
line-height: 1.67;
text-align: left;
margin-top: 22px;
}
.hero .cta-group{
    display: flex;
    margin-top: 38px;
    align-items: center;

}
.hero-cta{
    background:var(--primary-color);
    line-height: 64px;
    min-width: 180px;
}
.hero .watch-video{
    border: none;
    background: transparent ;
    display: flex;  
    margin-left: 28px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.hero .watch-video .icon{
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 8px 16px 0px #00000012;
    
}
.hero .watch-video span{
margin-left: 14px;
font-size: 1.8rem;
font-weight: 600;
line-height: 1.67;

}
.hero .desc-recent{    
margin-top: 48px;
}
.hero .stats{
    margin-top: 8px;
}
.hero .stats strong{
font-family: var(--font-heeading);
font-size: 4.4rem;
font-weight: 700;
line-height: 1.23;
}
/* ==============popular================ */
.popular {
    padding: 65px 0;
    margin-top: 135px;
}
.popular-top .desc{
    margin-top: 16px;
    width: 458px;
    color: #5F5B53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.30;
    text-align: left;
}
.popular-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.popular-top .control-btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    background: transparent;
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popular-top .controls{
    display: flex;
    gap: 18px;
}

.popular-top .control-btn:hover{
    background-color: var(--primary-color);
    color: #FFFFFF;
    cursor: pointer;
}
.popular .course-list{
    margin-top: 55px;
    display: flex;
    gap: 30px;
    
}
.popular .course-list .course-item{
    flex: 1;
    border-radius: 12px;
    border: 1px solid #E2DFDA;
    background: #FFFFFF;
    
}
.popular .course-list .course-item:hover{
    box-shadow: 0px 18px 36px 0px #0000000D;
    border: 1px solid transparent;
    border-radius: 12px;
    background: #FFFFFF;
}
.popular .course-item .thumb{
    width: 100%;
    height: 278px;
    object-fit: cover;
    border-radius: 12px, 12px, 0px, 0px;

}
.popular .course-item .info{ 
    padding: 16px 22px 22px;
}
.popular .course-item .foots,
.popular .course-item .rating,
.popular .course-item .head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.popular .course-item .title a{
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}
.popular .rating .avalue{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    color: var(--primary-color);
    margin-left: 6px;
}
.popular .course-item .desc{
    margin-top: 6px;
    color: #5F5B53;
    font-size: 1.4rem;
    line-height: 1.86;
}
.popular .course-item .foots{
    margin-top: 12px;
}
.popular .course-item .price{
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    color: #171100;
}
.popular .course-item .btn-book{
    border: none;
}
.popular .course-item .btn-book:hover{
    background: var(--primary-color);
}
/* =========feedback================ */
.feedback{
    margin-top: 135px;
    padding: 96px 0;
    background: #2E2100;
}
.feedback-list{
    display: flex;
    overflow: hidden;
}
.feedback-item{
    display: flex;
    flex-shrink: 0;
    width: 100%;
}
.feedback-item .avatar{
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}
.feedback-item .info .member-name{
    font-family: var(--font-heeading);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.42;
    color: #F7F7F7;

}
.feedback-item .info .desc{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
    color: #BFBCB2;
    ;
   
}
.feedback-item .dots{
    gap: 6px;
    margin-top: 28px;
    display: flex;
}
.feedback-item .dot.active{
    background: var(--primary-color);

}
.feedback-item .dot{
    width: 6px;
    height: 6px;
    background: #634700;
    border-radius: 50%;
    cursor: pointer;
}
.feedback-item .content{
    width: 66%;
    margin-left: auto;
}

.feedback-item blockquote{
    font-size: 2.6rem;
    font-style: italic;
    line-height: 1.54;
    color: #FFFFFF;
    
}
/* =============feartures============== */
.feartures{
    margin-top: 135px;
    padding: 65px 0;
}
.feartures .body{
    display: flex;
    justify-content: space-between;
}
.feartures .images{
    display: flex;
    gap: 30px;
}
.feartures .images img{
    width: 270px;
    height: 404px;
    object-fit: cover;
    border-radius: 16px;
}
.feartures .lower{
    margin-top: 34px;
}
.feartures .content{
    width: 41%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.feartures .desc{
    margin-top: 16px;
    font-size: 1.6rem;
    line-height: 1.75;
    color:  #5F5B53;
}
.feartures .cta-btn{
    width: 137px;
    height: 50px;
    border-radius: 26px;
    background: var(--primary-color);
    margin-top: 32px;
}
/* =========feartures 2========== */
.feartures-2{
    margin-top: 70px;
}
.feartures-2 .images img{
    width: 470px;
    height: 440px;
    border-radius: 20px;
}
.feartures-2 .content{
    width: 49%;
}
.feartures-2 .body{
    flex-direction: row-reverse;
}
/* ========blogs======== */
.blogs{
    margin-top: 135px;
    padding: 96px 0;
    background: #FFFCF4;

}
.blogs .blog-top{
    text-align: center;
}
.blogs .desc{
    color: #696262;
    font-size: 1.6rem;
    line-height: 1.75; 
    width: 448px;
    height: 56px;
    margin:16px auto 0;
}
.blogs .blog-list{
    gap: 30px;
    display: flex;
    margin-top: 55px;
}
.blogs .item{
    width: 33.33%;
    border-radius: 16px;
    background: #FFFFFF;

}
.blogs .item:hover{
    box-shadow: 0px 16px 32px 0px #0000000D;
}
.blogs .item .thumb{
    border-radius: 16px 16px 0 0;
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.blogs .info{
    padding: 20px 20px 28px;
}
.blogs .date{
    display: inline-flex;
    align-items: center;
    color:  #5F5B53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 26px;
    position: relative;
    padding-bottom: 12px;
}
.blogs .item .date::before{
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    background: var(--primary-color);
    border-radius: 50%;
    margin-right: 4px;

}
.blogs .item .date::after{
    left: 0;
    bottom: 0;
    right: -27px;
    position: absolute;
    content: "";
    display:inline-block ;
    width: 160px;
    height: 1px;
    border-radius: 0.5px;
    background: #E2DFDA;
}
.blogs .title{
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    color:  #171100;
    margin-top: 12px;
}
.blogs .btn{
    margin-top: 12px;
    font-size: 1.4rem;
}
.blogs .btn:hover{
    background: var(--primary-color);
}
.blogs .dots{
    display: flex;
    gap: 6px;
    justify-content: center;
}
.blogs .dot{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #5F5B53;
    cursor: pointer;
}
.blogs .dot.active{
    background: var(--primary-color);
    cursor: default;
}
/* =====footer========= */
.footer{
    background: #2E2100;
    padding: 96px 135px 0;

}
.footer .row{
    display: flex;
    padding-bottom: 38px;
    border-bottom: 1px solid #59554B;
}
.footer .row .column{
    width: 21.6%;
}
.footer .row .column:first-child{
    width: 35%;
}
.footer .desc{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
    color:  #BFBCB2;
    margin-top: 18px;
    max-width: 267px;

}
.footer .socials{
    display: flex;
    gap: 18px;
    margin-top: 18px;
}
.footer .title{
    padding-bottom: 14px;
    padding-right: 48px;
    display: inline-block;
    border-bottom: 1px solid  #59554B;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    color: #FFFFFF;
}
.footer .list{
    margin-top: 28px;
}
.footer .list a{
    display: inline-block;
    margin-bottom: 12px;
    color: #BFBCB2  ;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.86;

}
.footer .list li:last-child a{
    margin-bottom: 0;
}
.footer strong{ 
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.86;
    color: #FFFFFF;
}
.footer .copyright{
    padding: 28px 0; 
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
    color: #807D74;
    text-align: center;

}